<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="model.Part" alias="Part"/>
        <typeAlias type="model.PartDetail" alias="PartDetail"/>
    </typeAliases>
  
    <mappers>
        <package name="dao"/>
    </mappers>
</configuration>